* {
    box-sizing: border-box;
    font-family: Helvetica;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: lightgreen;
}

h1 {
    margin: 40px;
}

nav {
    grid-area: nav;
    background-color: rgb(118, 218, 118);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px 0 30px;
    width: 100%;
}

nav>a {
    margin: 20px;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}


nav>#title {
    margin-right: auto;
    font-size: 60px;
}

table {
    font-size: 20px;
}

table thead th {
    padding: 5px 40px;
    border-bottom: 2px solid #424748;
}

table td {
    padding: 10px;
    text-align: center;
}

a {
    background-color: rgb(120, 255, 108);
    color: black;
    margin: 20px;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

a:hover {
    color: rgb(125, 125, 125);
}

#new-recipe {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, minmax(auto, 22rem));
}

#submit {
    margin: 30px 200px;
    font-size: 20px;
    padding: 10px;
    background-color: rgb(204, 245, 252);
    text-decoration: none;
    border-radius: 5px;
    grid-column: 1/ span 2;
}

#submit:hover {
    background-color: hsl(189, 32%, 75%);
}

#details-btn {
    font-size: 12px;
    padding: 4px;
}

#show-page {
    margin: 20px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
  }