<%- include('../partials/header') %>

<h1>Enter a new recipe</h1>
<form action="/recipes/<%= user._id%>" method="POST" autocomplete="off">
    <label>Title:</label>
    <input type="text" name="title">
    <label>Difficulty:</label>
    <div class="input-field col s12">
    <select class="browser-default" name="difficulty">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    </div>
    <label>Cook Time (in minutes):</label>
    <input type="number" name="cookTime" min="1">
    <label>Description:</label>
    <textarea rows="10" cols="25" name="description"></textarea>

    <label>Ingredients:</label>
    <div>
        <input class="new-input" type="text" name="ingredients">
        <div id="first-ing"></div>
        <button type="button" id="new-ingredient">new ingredient</button>
    </div>





    <label>Instructions:</label>
    <div>
        <input class="new-input" type="text" name="instructions">
        <div id="first-instruction"></div>
        <button type="button" id="new-instruction">new instruction</button>
    </div>
    <input id="submit" type="submit" value="Add Recipe">
</form>
