<%- include('../partials/header') %>

<body id="search-page">
    
    <form class="form" id="search-form" autocomplete="off">
        <h5>Search By Title</h5>
        <input class="input-field" type="text" name="title" placeholder="Chicken... etc.">
        <input type="submit" value="Search">
    </form>

    <article class="results">
        
    </article>

</body>